<table id="strips-table">
  <% 3.times do %>
  <tr>
    <td>2008-03-15</td>
    <td><a href="#">Strip</a> (<a href="#">Assetbar</a>)</td>
    <td>
      <ul>
      <% 3.times do %>
        <li>
          author | blog | time <br/>
          <a href="#">post</a>
        </li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
</table>
